* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

#header {
    height: 75px;
    width: 100%;
    background-color: #fff;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

.header__left {
    display: flex;
    align-items: center;
}

.Logo {
    width: 170px;
    height: 33px;
    margin-right: 35px;
}

.Logo__img {
    width: 128px;
}

.nav {
    width: 268px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li {
    display: inline-block;
}

.nav li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav li a:hover {
    text-decoration: underline;
}

.header__right {
    width: 496px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    width: 350px;
    height: 36px;
    text-decoration: none;
    color: #000;
    border-bottom: #A3A3A3 solid 1px;
    padding: 9px 0;
}

.search__title {
    color: #A3A3A3;
}

.ti-user, .ti-heart, .ti-shopping-cart {
    text-decoration: none;
    color: #000;
}

.main__content {
    padding: 0 50px;
    display: flex;
    margin-top: 90px;
}

.main__content .image__content {
    width: 50%;
    padding-right: 40px;
    z-index: 1;
}

.image__content .image__item {
    width: 650px;
}

.product__info__main {
    z-index: 1;
}

.product__info__main .product__title {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 700;
}

.product__info__main .price {
    font-size: 24px;
    text-transform: uppercase;
}

.radio {
    display: none;
}

.radio:checked + label .color__image{
    border: 1px solid #000;
}

.choose__color {
    margin-top: 25px;
}

.choose__color .color__title {
    display: flex;
}

.choose__color .color__title .color {
    margin-right: 15px;
}

.choose__color .color__title .color__info {
    font-weight: 600;
}

.choose__color__image .color__image {
    width: 48px;
    height: 64px;
    padding: 1px 2px;
    margin: 15px 15px 0 0;
}

.choose__color__image .color__image:hover {
    border: 2px solid #ccc;
}

.select__size {
    margin-top: 25px;
}

.select__size .size {
    margin-top: 16px;
}

.select__size input[type="radio"] {
    display: none;
}

.select__size label {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.select__size input[type="radio"]:checked + label {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.quantity__selector {
    margin-top: 10px;
}

.quantity__selector button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
}

.quantity__selector button:hover{
    cursor: pointer;
}

.quantity__selector input {
    width: 50px;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
}

.box__tocart {
    margin-top: 25px;
}

.box__tocart .add {
    display: flex;
    margin-top: 25px;
    margin-bottom: 44px;
}

.box__tocart .add .add__tocart button {
    width: 300px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.box__tocart .add .add__tocart button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.box__tocart .add .ti-heart {
    font-size: 40px;
    margin-left: 20px;
}

.product__info__bottom {
    
}

.product__info__bottom .product__feature img {
    width: 831px;
    height: 248px;
}

.product__attributes {
    margin-top: 20px;
    width: 700px;
}

.product__attributes h2 {
    font-size: 16px;
    font-weight: bold;
    color: #d9534f;
    display: flex;
    align-items: center;
}

.product__attributes h2::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #d9534f;
    display: inline-block;
    margin-right: 10px;
}

.attributes__columns {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.attributes__column {
    width: 300px;
}

.attributes__column ul {
    list-style-type: disc;
    padding-left: 20px;
}

.attributes__column li {
    margin-bottom: 10px;
}

.attributes__column li strong {
    font-weight: bold;
    display: inline-block;
    width: 200px;
}

.product-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-description {
    width: 50%;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product-description h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

.product-description h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: #ccc;
    margin: 10px auto 0 auto;
}

.product-description h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
}

.product-description p.product-name {
    font-size: 16px;
    margin-bottom: 15px;
}

.product-description ul {
    list-style-type: disc;
    text-align: left;
    margin: 0 auto;
    padding-left: 20px;
    display: inline-block;
    text-align: left;
    width: 100%;
    max-height: 60px;
    overflow: hidden;
    position: relative;
}

.product-description ul.fade {
    max-height: none;
}

.product-description ul::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    transition: opacity 0.5s;
}

.product-description ul.fade::after {
    opacity: 0;
}

.product-description ul li {
    margin-bottom: 10px;
}

.product-description button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 20px auto 0 auto;
    display: block;
    border-radius: 4px;
}

.product-description button:hover {
    background-color: #333;
}

/* footer */

.footer{
    background-color: #f8f8f8;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin-top: auto;
}

.footer{
    display: flex;
    padding: 60px 50px;
}

.footer .information p{
    padding: 3px 0;
}

.footer .information{
    width: 29%;
    margin-right: auto;
    padding: 0 15px;
}

.footer .information img{
    max-height: 44px;
}

.footer .logo{
    margin-bottom: 24px;
}

img{
    max-width: 100%;
    height: auto;
    border: 0;
    
}

.footer h3{
    margin:  0 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px;
}

.footer p{
    display: block;
    font-size: 14px;
}

.footer .about{
    width: 25%;
    padding: 0 15px;
}

.footer h5{
    position: relative;
    display: inline-block;
    margin: 10px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.footer ul{
    margin-bottom: 26px;
    list-style: none;
}

.footer ul li{
    padding: 4px 0 4px 11px;
    margin: 0;
    position: relative;
}

.footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.policy{
    width: 21%;
}

.store{
    width: 20%;
}

.store a{
    font-weight: 700;
    text-decoration-line: underline;
    padding-right: 20px;
    background-position: right center;
    color: black;
}

.store ul li{
    margin: 0 0 20px;
    padding: 0 0 0 14px;
}

.store ul li h4{
    margin: 0 0 8px;
}