* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.main__content {
    padding: 0 50px;
    display: flex;
    margin-top: 90px;
}

.main__content .image__content {
    width: 50%;
    padding-right: 40px;
    z-index: 1;
    flex: 1;
}

.image__content .image__item {
    width: 80%;
    max-width: 100%;
    height: auto;
    border: 0;
    margin-left: 20px;
}

.product__info__main {
    z-index: 1;
    flex: 1;
}

.product__info__main .product__title {
    font-size: 20px;
    margin-bottom: 40px;
    font-weight: 700;
}

.product__info__main .price {
    font-size: 24px;
    font-weight: bold;
}

.radio {
    display: none;
}

.radio:checked + label .color__image{
    border: 1px solid #000;
}

.choose__color {
    margin-top: 25px;
}

.choose__color .color__title {
    display: flex;
}

.choose__color .color__title .color {
    margin-right: 15px;
}

.choose__color .color__title .color__info {
    font-weight: 600;
}

.choose__color__image .color__image {
    width: 48px;
    height: 64px;
    padding: 1px 2px;
    margin: 15px 15px 0 0;
}

.choose__color__image .color__image:hover {
    border: 2px solid #ccc;
}

.select__size {
    margin-top: 25px;
}

.select__size .size {
    margin-top: 16px;
}

.select__size input[type="radio"] {
    display: none;
}

.select__size label {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.select__size input[type="radio"]:checked + label {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.quantity__selector {
    margin-top: 10px;
}

.quantity__selector button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
}

.quantity__selector button:hover{
    cursor: pointer;
}

.quantity__selector input {
    width: 50px;
    text-align: center;
    font-size: 18px;
    margin: 0 5px;
}

.box__tocart {
    margin-top: 25px;
}

.box__tocart .add {
    display: flex;
    margin-top: 25px;
    margin-bottom: 44px;
    align-items: center;
}

.box__tocart .add .add__tocart input {
    width: 300px;
    height: 50px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

.box__tocart .add .add__tocart input:hover {
    opacity: 0.7;
    cursor: pointer;
}

.box__tocart .add .ti-heart {
    font-size: 40px;
    margin-left: 20px;
}



.product__info__bottom .product__feature img {
    width: 100%;
}

.product__attributes {
    margin-top: 20px;
    width: 700px;
}

.product__attributes h2 {
    font-size: 16px;
    font-weight: bold;
    color: #d9534f;
    display: flex;
    align-items: center;
}

.product__attributes h2::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #d9534f;
    display: inline-block;
    margin-right: 10px;
}

.attributes__columns {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.attributes__column {
    width: 300px;
}

.attributes__column ul {
    list-style-type: disc;
    padding-left: 20px;
}

.attributes__column li {
    margin-bottom: 10px;
}

.attributes__column li strong {
    font-weight: bold;
    display: inline-block;
    width: 200px;
}

.product-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.product-description {
    width: 100%;
    text-align: left;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.product-description h2 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 40%;
}

.product-description h2::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 10px auto 0 auto;
}

.product-description h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0;
}

.product-description p.product-name {
    font-size: 16px;
    margin-bottom: 15px;
}

.product-description ul {
    list-style-type: disc;
    text-align: left;
    margin: 0 auto;
    padding-left: 20px;
    display: inline-block;
    text-align: left;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.product-description ul::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
}

.product-description ul li {
    margin-bottom: 10px;
}

.product-description button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin: 20px auto 0 auto;
    display: block;
    border-radius: 4px;
}

.product-description button:hover {
    background-color: #333;
}

.modal__items {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    max-height: 80%;
}

.modal__items .image {
    width: 88px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}

.modal__items .modal__items__details .modal__items__name{
    margin-bottom: 20px;
    font-size: 16px;
}

.modal__items .modal__items__quantity .title {
    font-size: 14px;
    margin-bottom: 20px;
}

.modal__items .modal__items__details .modal__items__price {
    font-size: 16px;
    font-weight: bold;
}

.modal__buttons {
    display: flex;
    justify-content: center;
}

.modal__buttons .button-check-out {
    width: 48%;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    width: 80%;
    text-decoration: none;
    text-align: center;
}

.modal__buttons .button-check-out:hover {
    opacity: 0.7;
}

.item_sp .modal__items .ti-close {
    right: 0;
    top: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
}
.rating {
    display: flex;
    justify-content: center;
    direction: rtl; /* Thêm dòng này để đảo ngược thứ tự ngôi sao */
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: left;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #E3B386;
    transition: color 0.3s;
  }
  .danhgia{
    display: flex;
    justify-content: end;
    margin-right: 15px;
  }
  .danhgia p{
    cursor: pointer;
    padding: 12px;
    background-color: #E3B386;
    color: #000;
    font-weight: bold;
  }
  .danhgia p:hover{
    color: #E3B386;
    background-color: #000;
  }
  .modal{
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100000000000000000;
  }
  .modal.open{
    display: flex;
  }
  .modal-container{
    background-color: #fff;
    width: 500px;
    max-width: calc(100%-32px);
    min-height: 579px;
    position: relative;
    animation: modalAnimation ease 0.5s;
  }
  .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px;
    color: #fff;
    opacity: 0.8;
    cursor: pointer;
  }
  .modal-close:hover{
    opacity: 1;
  }
  .modal.open{
    display: flex;
  }
  .modal-header {
    display: flex;
    background-color: #E3B386;
    height: 60px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
  }
  .modal-header i{
    margin-right: 16px;
  }
  .modal-body{
    padding: 16px;
  }
  .modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
  }
  textarea,
  input.modal-input {
    padding: 15px;
    width: 100%;
    border: 1px #ccc solid;
    margin-bottom:24px ;
  }
  .modal-btn {
    background-color: #E3B386;
    border: none;
    color: #fff;
    width: 100%;
    height: 55px;
    text-transform: uppercase;
    cursor: pointer;
  }
  .modal-btn:hover {
    opacity: 0.8;
  }
  textarea{
    resize: vertical;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
  }
  .label{
    display: flex;
    justify-content: center;
  }
