table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

.body-headersanpham{
    margin-top: 20px;
    text-align: center;
}
.tbl_hienthi{
    margin: 10px;
}
.tbl_them{
    margin: 10px;
}
.tbl_hienthi a{
    text-decoration: none;
    color: blue;
}

textarea{
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}