*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

div{
    display: block;
}

body {
    height: 100%;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

#header {
    height: 75px;
    width: 100%;
    background-color: #fff;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
    top: 0;
}

.header__left {
    display: flex;
    align-items: center;
}

.Logo {
    width: 170px;
    height: 33px;
    margin-right: 35px;
}

.Logo__img {
    width: 128px;
}

.nav {
    width: 268px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li {
    display: inline-block;
}

.nav li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav li a:hover {
    text-decoration: underline;
}

.header__right {
    width: 496px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    width: 350px;
    height: 36px;
    text-decoration: none;
    color: #000;
    border-bottom: #A3A3A3 solid 1px;
    padding: 9px 0;
}

.search__title {
    color: #A3A3A3;
}

.ti-user, .ti-heart{
    text-decoration: none;
    color: #000;
}

/* content */

.cart-container {
    width: 700px;
    margin: 90px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart-container .title {
    display: flex;
}

.cart-container .title p {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 12px;
}

.cart-container .cart-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.cart-container .cart-item img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.cart-container .cart-item .item-details {
    flex: 1;
}

.cart-item .item-details .item-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.cart-item .item-details .item-quantity {
    display: flex;
    align-items: center;
    margin: 28px 0;
}

.cart-item .item-details .item-price {
    display: flex;
    align-items: center;
}

.cart-item .item-details .item-price .price {
    font-size: 20px;
    color: #333;
    margin-right: 10px;
    font-weight: bold;
}

.cart-container .shopping-info {
    margin-bottom: 20px;
}

.cart-container .shopping-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.cart-container .shopping-info .form-group {
    display: flex;
    margin-bottom: 10px;
}

.cart-container .shopping-info .form-group input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cart-container .total-price {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: bold;
}

.cart-container .total-price p{
    font-size: 16px;
}

.cart-container .cart-buttons {
    display: flex;
    justify-content: center;
}

.cart-container .cart-buttons .checkout {
    width: 90%;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
}

.cart-container .cart-buttons .checkout:hover {
    opacity: 0.7;
}