*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

div{
    display: block;
}

body {
    height: 100%;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

#header {
    height: 75px;
    width: 100%;
    background-color: #fff;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
}

.header__left {
    display: flex;
    align-items: center;
}

.Logo {
    width: 170px;
    height: 33px;
    margin-right: 35px;
}

.Logo__img {
    width: 128px;
}

.nav {
    width: 268px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav li {
    display: inline-block;
}

.nav li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav li a:hover {
    text-decoration: underline;
}

.header__right {
    width: 496px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search {
    width: 350px;
    height: 36px;
    text-decoration: none;
    color: #000;
    border-bottom: #A3A3A3 solid 1px;
    padding: 9px 0;
}

.search__title {
    color: #A3A3A3;
}

.ti-user, .ti-heart{
    text-decoration: none;
    color: #000;
}

/* content */

.pice{
    font-weight: 400;
    margin: 10px 0 30px;
    padding: 0 50px;
    display: block;
}

.pice ul{
    display: flex;
    opacity: 0.5;
    list-style: none;
    font-size: 13px;
    line-height: 15px;
    justify-content: center;

}

.pice ul li a{
    text-decoration: none;
    color: black;
    
}

.content{
    padding: 0 50px;
    padding-top: 75px ;
    height: 1000px;
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
}

.check{
    display: flex;
    margin: 18px 0 30px;
    line-height: 28px;
    margin: 18px 0 30px;
    
}

.check h1{
    font-size: 24px;
    display: inline-block;
}

.check-img{
    background-image: url(image/giohang.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 20px;
    display: inline-block;
    background-position: center;
    background-size: 100% 100%;
    margin: 4px 30px 0 0 ;
}

.content-left .left-1{
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
}

/* FOOTER

.footer{
    background-color: #f8f8f8;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin-top: auto;
}

.footer{
    display: flex;
    padding: 60px 50px;
}

.footer .information p{
    padding: 3px 0;
}

.footer .information{
    width: 29%;
    margin-right: auto;
    padding: 0 15px;
}

.footer .information img{
    max-height: 44px;
}

.footer .logo{
    margin-bottom: 24px;
}

img{
    max-width: 100%;
    height: auto;
    border: 0;
    
}

.footer h3{
    margin:  0 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px;
}

p{
    display: block;
    font-size: 14px;
}

.footer .about{
    width: 25%;
    padding: 0 15px;
}

.footer h5{
    position: relative;
    display: inline-block;
    margin: 10px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.footer ul{
    margin-bottom: 26px;
    list-style: none;
}

.footer ul li{
    padding: 4px 0 4px 11px;
    margin: 0;
    position: relative;
}

.footer ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.policy{
    width: 21%;
}

.store{
    width: 20%;
}

.store a{
    font-weight: 700;
    text-decoration-line: underline;
    padding-right: 20px;
    background-position: right center;
    color: black;
}

.store ul li{
    margin: 0 0 20px;
    padding: 0 0 0 14px;
}

.store ul li h4{
    margin: 0 0 8px;
} */